body {
  background-color: #EAEAEA !important;
}

.ui.inverted.top.fixed.menu {
  background: rgba(179, 189, 10, 1.0);
  background-image: linear-gradient(90deg, rgba(179, 189, 10, 1.0), rgba(168, 33, 165, 1.0));
}

#logo {
  margin-right: 10px;
}

#body-container,#body-container2 {
  margin-top: 100px;
}

#view-button {
  background-color: #B2BA0D;
  color: white;
}

#home-page-logo {
  margin-bottom: 12px;
}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.react-datepicker-wrapper {
  width: 100%;
}

.password-segment .field {
  max-width: 20em !important;
}

.password-segment .button {
  max-width: 20em !important;
}

.password-icon {
  position: absolute;
  right: 10px;
  top: 44%;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(90deg, rgba(179, 189, 10, 1.0), rgba(168, 33, 165, 1.0)) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.masthead #login-buttons {
  padding-top: 115px;
}


/*end home page styles*/